altgraph==0.17
astroid==2.5
backcall==0.2.0
click==7.1.2
colorama==0.4.4
debugpy==1.5.0
decorator==4.4.2
entrypoints==0.3
et-xmlfile==1.0.1
future==0.18.2
importlib-metadata==3.4.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.7.0
jdcal==1.4.1
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.3
mccabe==0.6.1
mem-edit==0.5
MouseInfo==0.1.3
nest-asyncio==1.5.1
numpy==1.20.0
opencv-python==4.5.1.48
openpyxl==3.0.6
parso==0.8.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
platformdirs==2.4.0
prompt-toolkit==3.0.16
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
Pygments==2.8.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.6.0
PyMsgBox==1.0.9
pynput==1.7.5
pyodbc==4.0.32
pyperclip==1.8.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.15.2.3.0.2
PyQt5Designer==5.14.1
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.7
python-dateutil==2.8.1
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==22.0.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.4.0
